<html>
	<head>
		<title> A Light Bulb</title>
	</head>


	<body>
		<!-- the description sentence  -->
		<h1 align = "center">A Light Bulb</h1>
		<!-- finsh the src attribute. To adjust the size of the image, you can modify  width="300px" height="400px" -->
		<center><img id='myimage' alt='Light Bulb' width="100px" height="180px" src="../static/pic_bulbon.png"></center>
		
		<!-- to modify the position and size of the buttons, you can modify  style="position:relative;top:5%;left:30%" 
		and style="font-size:30;height:100px; width:200px;" -->
		<div  style="position:relative;top:5%;left:36%">
	      <input style="font-size:30;height:100px; width:200px;" type = "button" id = "turn_on" value = ":)" />
	      <input style="font-size:30;height:100px; width:200px;" type = "button" id = "turn_off" value = ":(" />
    	</div>




	</body>
</html>